<h1>All the pizza</h1>
<% @orders.each do |order| %>
  <p>Name: <%= order.pretty_name() %></p>
  <p>Order: <%= order.quantity() %> x <%= order.topping() %></p>
  <p><a href="/pizza-orders/<%= order.id %>">Show order</a></p>
  <p><a href="/pizza-orders/<%= order.id %>/edit">Edit order</a></p>
  <hr>
<% end %>
